<template>
  <div id="content" :style="!nightMode ? {'background-color': 'rgba(247, 249, 250, 0.9)'} : {'background-color': '#2C3338'}">
    <div class="panel" :style="nightMode ? { 'color': '#fff', 'background-color': '#2C3338' } : { 'color': '#000', 'background-color': '#fff' }">
      <div v-for="(value, key) in data">
        <p v-if="key == 'theme'" class="theme">{{ value }}</p>
        <div v-if="key == 'content'">
          <span v-for="(cv, ck) in value">
            <p v-if="!testImage(cv)" v-html="cv" class="paragraph"></p>
            <div v-if="testImage(cv)"><img :src="getImage(cv)" /></div>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContentComponent',
  props: ['data', 'nightMode'],
  data () {
    return {
      data: '',
      nightMode: false
    }
  },
  methods: {
    testImage (data) {
      var regexp = new RegExp(/{{img=([0-9]+)\.([a-z]+)}}/g)
      return regexp.test(data)
    },
    getImage (data) {
      return data.replace(/{{img=([0-9]+)\.([a-z]+)}}/g, "static/img/book/$1.$2")
    }
  },
  created () {
    this.data = this.props.data
    this.nightMode = this.props.nightMode
  }
}
</script>

<style scoped>
img {
  max-width: 90%;
}

#content {
  padding: 20px;
}

.panel {
  opacity: 1;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
</style>
