<template>
  <b-navbar id="header" toggleable="md" type="dark" :variant="!nightMode ? 'info' : ''" :style="!nightMode ? {} : {'background-color': '#282E33'}">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand href="#" id="brand"><img src="../assets/brand.png" /> Ош мамлекеттик университети</b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav class="ml-auto">
        <!-- <b-nav-item href="#"><icon id="icon" name="comments"></icon> Пикир айткандар</b-nav-item>
        <b-nav-item href="#"><icon id="icon" name="book"></icon> Басма кана</b-nav-item> -->
        <b-nav-item href="#" @click="nightMode = !nightMode"><icon id="icon" :name="nightMode ? 'regular/moon' : 'moon'"></icon> {{ nightMode ? 'Обычный' : 'Ночной' }} режим</b-nav-item>
        <b-nav-item href="#" @click="fullScreen()"><icon id="icon" name="arrows-alt"></icon> Полный экран</b-nav-item>
        <!-- <b-nav-item-dropdown right>
          <template slot="button-content">User</template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Signout</b-dropdown-item>
        </b-nav-item-dropdown> -->
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import 'vue-awesome/icons/book'
import 'vue-awesome/icons/arrows-alt'
import 'vue-awesome/icons/moon'
import 'vue-awesome/icons/regular/moon'

export default {
  name: 'HeadComponent',
  props: ['nightMode'],
  data () {
    return {
      fullScreenMode: false,
      nightMode: false
    }
  },
  methods: {
    fullScreen () {
      this.fullScreenMode = true
      this.$emit('fullScreen')
    }
  },
  watch: {
    nightMode () {
      this.$emit('night', this.nightMode)
    }
  }
}
</script>

<style scoped>
  #brand img {
    width: 40px;
  }

  #brand {
    font-size: 26px;
  }
</style>
