<template>
  <div id="content" :style="nightMode ? { 'background-color': '#5D6B77' } : { 'background-color': '#E7EBF0' }" class="h-100 d-flex align-content-between flex-column">
    <div class="mb-auto" :style="!aboutPanelShow ? { 'height': 'calc(100% - 65px)', 'overflow-y': 'scroll' } : {}">
      <div v-show="aboutPanelShow">
        <div style="margin-top: 40px;"><img id="brand" src="../assets/book/visual_studio_purple.png" /></div>
        <h2 align="center">«С# программалоо тили»</h2>
      </div>
      <div :style="nightMode ? {'color': '#fff'} : {}" v-show="!aboutPanelShow">
        <ul v-for="(item, key) in data">
          <li>
            <a :style="nightMode ? {'color': '#fff'} : {}" @click="sectionAction(data[key])" href="#">{{ item.theme }}<span v-show="item.themes.length > 0"> ({{ item.themes.length }})</span></a>
            <ul v-show="item.themes.length > 0 && item.collapsed">
              <li v-for="(pitem, pkey) in item.themes"><a :style="nightMode ? {'color': '#fff'} : {}" href="#" @click="sectionAction(data[key].themes[pkey])">{{ pitem.theme }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div :style="!aboutPanelShow ? { 'height': '65px' } : {}">
      <b-button @click="showSections()" size="sm" :variant="aboutPanelShow ? (nightMode ? 'secondary' : 'primary') : 'secondary'" block="true">{{ aboutPanelShow ? 'Мазмуну' : 'Китеп жөнүндө' }}<span :class="aboutPanelShow ? 'float-right' : 'float-left'"><icon id="icon" :name="aboutPanelShow ? 'angle-double-right' : 'angle-double-left'"></icon></span></b-button>
      <div class="copyright">Ош - 2018</div>
    </div>
  </div>
</template>

<script>
import 'vue-awesome/icons/angle-double-right'
import 'vue-awesome/icons/angle-double-left'

import data from '../data.json'

export default {
  name: 'LeftComponent',
  props: ['nightMode'],
  data () {
    return {
      aboutPanelShow: true,
      nightMode: false,
      data: data
    }
  },
  created () {
    this.nightMode = this.props.nightMode
  },
  methods: {
    showSections () {
      this.aboutPanelShow = !this.aboutPanelShow;
    },
    sectionAction (data) {
      if (data.themes == undefined) data.themes = [];
      if (data.themes.length > 0) data.collapsed = !data.collapsed;
      else this.send(data)
    },
    send (data) {
      /*var prepare = document.createElement('p')
      prepare.innerHTML = data.theme
      prepare.className = 'theme'
      for (var i = 0; i < data.content.length; i++){
        var child = document.createElement('p')
        child.innerHTML = data.content[i].replace(/{{img=([0-9]+)\.([a-z]+)}}/g, '<img src="../assets/book/$1.$2" />')
        child.className = 'paragraph'
        prepare.innerHTML += child.outerHTML
      }*/
      // setTimeout(() => { this.$emit('data', prepare.outerHTML) }, 100)
      this.$emit('data', data)
    }
  }
}
</script>

<style scoped>
#content {
  padding: 10px;
  opacity: .95;
  border-right: 1px solid grey;
}

p, .copyright {
  color: #7A858B;
}

.copyright {
  margin-top: 10px;
}

.copyright:before, .copyright::before {
  content: '\00a9 ';
}

img#brand {
  width: 100%;
}
</style>
