<template>
  <div id="app" class="h-100">
    <HeadComponent :nightMode="nightMode" v-on:night="night" v-on:fullScreen="fullScreen" />
    <div :class="fullScreenMode ? 'h-100 w-100' : ''" id="forFullScreen" class="d-flex" :style="contentStyle">
      <LeftComponent :nightMode="nightMode" v-on:data="comeDataLeft" class="w-25 h-100" />
      <ContentComponent :nightMode="nightMode" :data="content" class="w-75 h-100" />
    </div>
  </div>
</template>

<script>
import ContentComponent from './components/ContentComponent'
import LeftComponent from './components/LeftComponent'
import HeadComponent from './components/HeadComponent'

import 'vue-awesome/icons/times-circle'

export default {
  name: 'App',
  components: {
    ContentComponent,
    LeftComponent,
    HeadComponent
  },
  data () {
    return {
      contentStyle: { 'height': 'calc(100% - 0px)' },
      content: {
        'theme': '«С# программалоо тили»',
        'content': [
          'Окуу китеп C# программалоо тилинин жардамы менен ар кандай типтеги маселелерди  чечүүнүн алгоритмин түзүүгө, программалоого ык-машыгууларды калыптандырууга  арналган. Мында тиешелүү темалардын лекциялык материалдары, практикалык,  лабораториялык иштердин баяндамалары, аларды аткаруунун максаттары, өз алдынча  иштөө үчүн тапшырмалар, ар бир иштин кыскача теориялык материалдары, 1-2 мисалдын  чыгарылыштарынын программаларынын үлгүлөрү, аткаруу үчүн берилген тапшырмалардын  варианттары, кайталоо үчүн тапшырмалар, көрсөтмөлөр берилген.',
          'Бул колдонмо жогорку жана орто окуу жайларынын студенттери, орто мектептин  окуучулары, деги эле өз алдынча С# тилинде программалоону үйрөнүүгө кызыккандар үчүн  арналган окуу курал.',
          'Ош МУнун Окумуштуулар Кеңешинин сунушу менен басмадан чыгарылган',
          'Беделова Нургуль Салибаевна, Арапбаев Русланбек Нурмаматович.'
        ]
      },
      fullScreenMode: false,
      nightMode: false
    }
  },
  methods: {
    init () {
      this.contentStyle = { 'height': 'calc(100% - ' + (document.getElementById('header').clientHeight + 1) + 'px)' }
      if (document.addEventListener){
        document.addEventListener('webkitfullscreenchange', this.fullScreenCancel, false);
        document.addEventListener('mozfullscreenchange', this.fullScreenCancel, false);
        document.addEventListener('fullscreenchange', this.fullScreenCancel, false);
        document.addEventListener('MSFullscreenChange', this.fullScreenCancel, false);
      }
    },
    fullScreenCancel () {
      this.fullScreenMode = !(!document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement)
      if (this.fullScreenMode) this.contentStyle = { 'height': 'calc(100% - 0px)' };
      else this.contentStyle = { 'height': 'calc(100% - ' + (document.getElementById('header').clientHeight + 1) + 'px)' };
    },
    fullScreen () {
      var elem = document.getElementById("forFullScreen");
      if (elem.requestFullscreen) elem.requestFullscreen();
      else if (elem.mozRequestFullScreen) elem.mozRequestFullScreen();
      else if (elem.webkitRequestFullscreen) elem.webkitRequestFullscreen();
    },
    comeDataLeft (data) {
      this.content = data;
    },
    night (status) {
      this.nightMode = status
    }
  },
  created () {
    setTimeout(() => { this.init(); }, 100);
  }
}
</script>

<style>
html, body {
  height: 100%;
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-origin: all;
  background-clip: all;
  background-attachment: all;
}

p.paragraph > code {
  text-indent: 0px;
}

p.paragraph span#l {
  padding-left: 40px;
}

p.paragraph code span {
  margin-left: 60px;
}

p.paragraph code span#s {
  margin-left: 40px;
}

p.paragraph code span#xs {
  margin-left: 20px;
}

p.theme {
  font-weight: 500;
  font-size: 20px;
  margin-left: 20px;
}

p.paragraph {
  text-align: justify;
  text-indent: 40px;
}

a:hover {
  text-decoration: none;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#icon {
  margin-top: 2px;
  vertical-align: top;
}
</style>
